<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Video Share</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <!--<div *ngIf="( !isUserLogged | async ); else logoutBanner">-->
      <div *ngIf="!userLogged; else logoutBanner">
        <form class="navbar-search pull-right">
          <input type="text" placeholder="Login" name="userName" [(ngModel)]="user.userName">
          <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
          <button (click)="login(user)">Login</button>
        </form>
      </div>
      <ng-template #logoutBanner>
        <form class="navbar-search pull-right">
          <button (click)="logout()">Logout</button>
        </form>
      </ng-template>
    </div>
  </div>
</nav>