<div class="row">
    <div class="col-md-5">
        <label for="typeahead-video-tag">Search for a video tag for random video:</label>
    </div>
    <!-- TODO: fix text view after selecting tag name -->
    <div class="col-md-7" *ngIf="allVideoTags.length != 0">
        <input id="typeahead-video-tag"
               type="text"
               class="form-control"
               [(ngModel)]="model"
               (selectItem)="onTagSelected($event)"
               [ngbTypeahead]="search"
               [resultFormatter]="formatter"
                #searchElm
        />
        <p>{{ model }}</p>
    </div>
</div>
<div class="row">
    <span class="badge" *ngFor="let tag of selectedVideoTags" (click)="onTagRemove(tag)">{{ tag.tagName }}</span>
</div>
