<div class="row">
    <div class="col-md-5">
        <label for="video-tag-complete">Search for a video tag for random video.</label>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div >
                <input id="video-tag-complete"
                       type="text"
                       [(ngModel)]="currentValue.tagName"
                       (ngModelChange)="onValueChanged($event)"
                       (click)="onTagInputClicked($event)">
            </div>
        </div>

        <div class="row">
            <div *ngIf="filteredVideoTags.length > 0; else emptyResult">
                <span class="autocomplete-span"
                  *ngFor="let tag of filteredVideoTags"
                  (click)="onTagSelected(tag)">{{ tag.tagName }}
                </span>
            </div>

            <ng-template #emptyResult>
                <div>
                    <!-- empty label as an offset, to keep the rest of the elements on the same position-->
                    <label></label>
                </div>
            </ng-template>
        </div>
    </div>

</div>

<div class="row">
    <span class="badge" *ngFor="let tag of selectedVideoTags" (click)="onTagRemove(tag)">{{ tag.tagName }}</span>
</div>
